<sly data-sly-use.renderer="${'scalerating.js'}"
  data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"
  data-sly-use.label="${renderer.labelPath}"
  data-sly-use.formstructparser="com.adobe.cq.forms.core.components.models.form.FormStructureParser"
  data-sly-use.scalerating="com.corecomponents.core.models.StarRatingGroup">
</sly>
<sly data-sly-use.clientlibs="${'com.adobe.cq.wcm.core.components.models.ClientLibraries' @
    categories='core.forms.components.scalerating.v1.runtime', defer=true}">
    ${clientlibs.jsAndCssIncludes @ context="unsafe"}
</sly>

  <div class="cmp-adaptiveform-scalerating"
  data-cmp-is="adaptiveFormScaleRating"
 

     id="${scalerating.id}"
     data-cmp-adaptiveformcontainer-path="${formstructparser.formContainerPath}">
     <div data-sly-call="${label.label @componentId=scalerating.id, labelValue=scalerating.label.value, labelVisible=scalerating.label.visible, bemBlock='cmp-adaptiveform-star--label'}">${scalerating.label.value}</div>
     <div>
    <input type="number" class="star-count" hidden
    title="${scalerating.tooltipVisible ? '' :scalerating.tooltipText}"
            type="number"
            value="${scalerating.starnumber}"
            max="${scalerating.maximum}"
            data-cmp-data-layer="${scalerating.data.json}"
            min="${scalerating.minimum}"
            required="${scalerating.required}"
            step="1" 
            onchange="updateStars(this)">
    <div class="stars-container"></div>
  </div>
  <p>Current rating: <span class="current-rating"></span></p> 